<div class="new-msg-form">
  {{input type="text" placeholder="Name" value=user class="name-input"}}
  {{input type="text" placeholder="Answer" value=response class="msg-input"}}
  <button {{action 'saveAnswer'}} class="submit">Submit</button>
</div>
