<h1>Questions?</h1>

<ul class="list-unstyled">
{{#each question in model}}

<li>{{#link-to 'question' question.id}}{{question.body}}{{/link-to}} by {{question.name}}</li>

{{/each}}
</ul>

{{outlet}}

<div class="container">{{#link-to 'new-question'}}Ask a new question{{/link-to}}</div>
